# API Keys and Configuration
config.py
*.env
.env

# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
venv/
.venv
env/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# WandB
wandb/
*.wandb

# macOS
.DS_Store
